body{
    color: white;
    background-color: #333;
}
.dual-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin: auto;
    justify-items: center;
    align-items: center;
}

.time-sets{
    display: grid;
    
    justify-items: center;
    align-items: center;
}